ul#releases {
  list-style-type: none;

  li.release {
    position: relative;
    width: 320px;
    height: 320px;
    margin: 16px;
    cursor: pointer;

    img.cover {
      height: 320px;
      width: 320px;
      border-radius: 2px;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 8;
    }

    &:hover {
      span.release-title {
        opacity: 1;
      }
    }

    span.release-title {
      opacity: 0;
      transition: opacity 0.2s ease-in-out;
      z-index: 10;
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
      font-size: 24px;
      background: rgba(0,0,0,0.6);
      color: #fff;
    }

  }
}