@use "sass:math";

$blur: blur(8px);

/* Breakpoints */
$break-width-md: 850px;
$break-width-sm: 500px;
$break-width-xs: 300px;
$break-width-lg: 1220px;
$break-width-xl: 1750px;

/* Navbar */
$navbar-height: 64px;
$navbar-height-mobile: 90px;
$navbar-height-xs: 140px;
$navbar-padding: 16px;
$navbar-margin: $navbar-height + 8px + $navbar-padding;
$navbar-margin-md: $navbar-height-mobile + 8px + $navbar-padding;
$navbar-margin-xs: $navbar-height-xs + 8px + $navbar-padding;
$navbar-logo-size: 52px;

$cover-size: 320px;
$cover-size-xs: math.div($cover-size, 2);

$artist-link-width: 320px;
