@import "../../../lib/fira-code-5.2/fira_code.css";
@import "variables";

body {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  position: relative;
  background-color: black;
  color: white;
  font-family: "Fira Code", monospace;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: $nav-bar-margin 0 64px;
  margin: 0;

  min-height: 350px;

  @media (max-width: $break-width-md) {
    padding-top: $nav-bar-margin-md;
  }

  @media (max-width: $break-width-xs) {
    padding-top: $nav-bar-margin-xs;
  }

  h1 {
    font-size: 2.5em;
  }

  @import "pages/about";
  @import "pages/artists";
  @import "pages/release";
  @import "pages/contact";
  @import "pages/privacy";
  @import "components/nav";
  @import "components/error";
  @import "components/artist";
  @import "components/footer";
  @import "components/loader";
  @import "components/artist-list";
  @import "components/social-links";
  @import "components/release/release";
  @import "components/links/artist-link";
  @import "components/links/release-link";
  @import "components/release/release-list";

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
