@import "../variables";

div.footer {
  z-index: 12;
  background: #000;
  display: inline-block;
  position: fixed;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 100%;

  @media(max-width: $break-width-sm) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 12px;
  }

  a, span {
    margin-right: 1.5rem;

    &:not(:last-child):after {
      display: inline-block;
      content: '\00a0-\00a0';
      cursor: default;
      vertical-align: super;
      position: absolute;

      @media(max-width: $break-width-sm) {
        display: none;
      }
    }
  }

  a, a:visited {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.5);
  }
}
