@import "src/assets/scss/variables";

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $nav-bar-height;
  width: 100%;
  padding-top: 16px;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 80;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: $blur;

  svg#logo {
    height: 48px;
    width: 48px;

    cursor: pointer;

    path {
      stroke-dasharray: 908;
      stroke-dashoffset: 0;

      transition: stroke-dashoffset 0.5s 1ms;
      transition-delay: -0.3s;

      &:hover {
        stroke-dashoffset: 904;
      }
    }
  }

  ul.nav {
    margin-right: 15%;
    list-style-type: none;

    li.nav-item {
      display: inline-block;
      margin-left: 8px;
      margin-right: 8px;
      line-height: 48px;
      text-align: center;
      vertical-align: center;
      text-decoration: none;

      a, a:visited, a:active {
        color: #fff;
        text-decoration: none;

        &:hover {
          cursor: pointer;
          color: #e1e1e1;
        }

        &.active {
          text-decoration: underline;
        }
      }
    }
  }
}