@import "../variables";

ul.artists-list {
  list-style-type: none;

  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: row;

  @media (min-width: $break-width-sm) and (max-width: $break-width-md) {
    display: grid;
    grid-template-columns: $artist-link-width $artist-link-width;
  }

  @media (max-width: $artist-link-width*2) {
    display: flex;
    flex-direction: column;
  }

  margin: 0;
  padding: 0;

  li {
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: center;
  }
}
