@import "../variables";

$form-input-width: 400px;

p.contact-text {
  width: 80%;
  max-width: $form-input-width;
}

form#contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  input,
  textarea,
  button {
    font-size: 12px;
    font-family: "Fira Code", monospace;
    background: transparent;
    color: #fff;
    border: 1px solid white;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  input,
  textarea {
    width: $form-input-width;
  }

  input {
    line-height: 1.2rem;
  }

  textarea {
    min-height: 12rem;
    min-width: $form-input-width;
  }

  button {
    padding: 8px;
    cursor: pointer;
  }

  .form-errors {
    color: #f00;
  }
}
