@import "src/assets/scss/variables";

ul.releases {
  list-style-type: none;
  display: grid;
  grid-template-columns: 352px 352px;

  @media (min-width: 1220px) {
    grid-template-columns: 352px 352px 352px;
  }

  @media (min-width: 1750px) {
    grid-template-columns: 352px 352px 352px 352px;
  }

  @media (max-width: 850px) {
    grid-template-columns: 352px;
  }

  li {
    margin-left: 16px;
    margin-right: 16px;
  }
}