@import "../../variables";

div.release {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  div.release-data {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    a.cover-link {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      cursor: zoom-in;

      img.cover {
        height: 320px;
        width: 320px;
        border-radius: 5px;
        margin-right: 64px;

        @media (max-width: 850px) {
          margin-right: 0;
        }
      }
    }

    .release-data__inner {
      display: flex;
      flex-direction: column;

      dt {
        color: #AAA;
        font-weight: bold;
      }

      dl.release-meta {

      }

      @import "src/assets/scss/components/links/stream-link";
    }
  }

  @media (max-width: 1000px) {

    div.release-data {
      flex-direction: column;

      img.cover {
        width: 60% !important;
        height: auto !important;
        margin-right: 0;
      }

      .release-data__inner {
        flex-direction: row;

        @media (max-width: 850px) {
          display: grid;
          grid-template-columns: 50% 50%;
        }

        > div.release-links__wrapper {
          margin-left: 64px;

          @media (max-width: 850px) {
            margin-left: 0;
          }
        }
      }
    }
  }

  @import "release-tracks";
}
