@import "../../variables";

div.release {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  div.release-data {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    a.cover-link {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      cursor: zoom-in;

      img.cover {
        height: $cover-size;
        width: $cover-size;
        border-radius: 5px;
        margin-right: 64px;

        @media (max-width: $break-width-md) {
          margin-right: 0;
        }

        @media (max-width: $break-width-xs) {
          height: $cover-size-xs;
          width: $cover-size-xs;
        }
      }
    }

    .release-data__inner {
      display: flex;
      flex-direction: column;

      dl.release-meta {
        dt {
          font-size: 10px;
          color: #AAA;
          font-weight: bold;
        }

        dd {
          font-size: 13px;
          margin-left: 0;
          margin-bottom: 10px;
        }
      }

      @import "src/assets/scss/components/links/stream-link";
    }
  }

  @media (max-width: 1000px) {

    div.release-data {
      flex-direction: column;

      img.cover {
        width: 60% !important;
        height: auto !important;
        margin-right: 0;
      }

      .release-data__inner {
        flex-direction: row;

        @media (max-width: $break-width-md) {
          display: grid;
          grid-template-columns: 50% 50%;
        }

        @media (max-width: $break-width-sm) {
          display: flex;
          flex-direction: column;
          text-align: center;
        }

        > div.release-links__wrapper {
          margin-left: 64px;

          @media (max-width: $break-width-md) {
            margin-left: 0;
          }

          @media (max-width: $break-width-sm) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }

  @import "release-tracks";
}
